textarea {
    min-height: 80px;
}

.alert {
    margin-bottom: 1rem;
}

select,
option {
    color: #222 !important;
    /* dark text */
    background: #f5f5f5 !important;
    /* light gray background for contrast */
}